<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.auraapp.auraandroid">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- TODO enable allowBackup in a privacy-preserving way -->
    <application
        android:allowBackup="false"
        android:icon="@drawable/icon_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_launcher2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher">
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.settings.SettingsActivity" />

        <service
            android:name=".Communicator.Communicator"
            android:process=":communicator" />
    </application>

</manifest>